@import "../../../styles/mixins";
.textImage {
  @include breakpoint(md) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .text {
      margin-bottom: 15px;
    }
    img {
      width: 100%;
      padding: 20px;
    }
  }
  @include breakpoint(sm) {
    img {
      width: 100%;
      height: 300px;
    }
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 100px;

  .text {
    padding: 20px;
    h3 {
      margin-bottom: 20px;
    }
  }
}
