.swipper {
  margin-block: 10px;
}
.swipper > div {
  transition-timing-function: linear !important;
  .itemName {
    padding: 10px 20px;
    background-color: #ff6720;
    color: white;
    border-radius: 8px;
  }
  & > div {
    width: 200px;
    cursor: initial;
    display: flex;
    align-items: center;
  }
}
