.swipper {
  margin-block: 20px;
}
.swipper > div {
  transition-timing-function: linear !important;
  .itemName {
    padding: 10px 20px;
    background-color: #ff6720;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  & > div {
    width: 250px;
    cursor: initial;
    // display: flex;
    // align-items: center;
  }
}
.swiperContainer {
  margin-block: 100px;
  h3 {
    margin-bottom: 30px;
  }
}
