.Breadcrumb {
  padding: 15px;
  margin-block: 15px;
  .breadcrumbList {
    display: flex;
    align-items: center;
    a {
      color: #ff6720;
    }
    svg {
      margin-inline: 5px;
      fill: #ff6720;
    }
    .item {
      color: #ff6720;
    }
  }
}
